<div class="container-fluid">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link <%= (page === "home") && "active" %> " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= (page === "diseases") && "active" %> " href="/diseases">Diseases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= (page === "doctors") && "active" %> " href="/doctors">Doctors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= (page === "patients") && "active" %> " href="/patients">Patients</a>
            </li>
          </ul>
            <a class="nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </nav>
  </div>
</div>